@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #666;
}
.container {
    
    /* max-width: 1200px; */
    width: 400px;
    height: 500px;
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .6);
    overflow-y: scroll;
}
.container::-webkit-scrollbar {
    display: none;
}
.container form {
    width: 100%;
    border: 2px solid #444;
    padding: 5px;
    border-radius: 5px;
}
.container form i {
    padding: 0 10px;
}
.container form input {
    border: none;
    outline: none;
    font-size: 15px;
    margin-left: 50x;
    font-weight: 600;
    color: #333;
}
.products {
    /* background-color: #444; */
    margin-top: .5rem;
    padding: 1rem 0;
    /* overflow-y: scroll; */
}
img {
    width: 80px;
    height: auto;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 5px;
}
.products .product {
    /* background-color: #777; */
    display: flex;
    padding: 10px;
}
.products .product .p-details {
    margin-left: 1rem;
}
.products .product .p-details h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin: 5px;
    color: orange;
    text-shadow: 0 1px 1px black;
}
.products .product .p-details h3 {
    font-size: 15px;
    margin: 5px;
    margin-top: 1rem;
    color: #222;
    font-weight: 600;
}